
<md-toolbar color="primary"><span>{{title}} Demo!!</span></md-toolbar>
<md-card>
  <md-card-title>Responsive Layout Directions</md-card-title>
  <md-card-subtitle>Layout direction changes to 'column' for 'xs' or 'sm' viewport sizes:</md-card-subtitle>
  <md-card-content>
    <div class="containerX">
      <div class="coloredContainerX box" fxlayout="row" fxlayout.xs="column" fxlayout.sm="column" fxflex="">
        <div fxflex=""> I'm above on mobile, and to the left on larger devices.</div>
        <div fxflex=""> I'm below on mobile, and to the right on larger devices.</div>
      </div>
    </div>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>Show & Hide Directives</md-card-title>
  <md-card-subtitle>Use the show hide APIs to responsively show or hide elements:</md-card-subtitle>
  <md-card-content>
    <div class="containerX">
      <div class="coloredContainerX box" fxlayout="row">
        <div fxflex="" fxhide="false" fxhide.gt-sm="">Shown on small device size.<br/> Hidden on gt-sm devices.</div>
        <div fxflex="" fxhide="false" fxhide.gt-md="">Shown on small and medium size devices.<br/> Hidden on gt-md devices.</div>
        <div fxflex="" fxshow="false" fxshow.gt-sm=""> Only show on gt-sm devices.</div>
        <div fxflex="" fxshow="false" fxshow.md="">    Shown on medium size devices only.</div>
        <div fxflex="" fxshow="false" fxshow.gt-lg=""> Shown on devices larger than 1200px wide only.</div>
      </div>
    </div>
  </md-card-content>
</md-card>